<div class="grid justify-content-center">
  <div class="lg:col-9 xl:col-9 sm:col-12 xs:col-12">


    <p-table [value]="authors$|async" responsiveLayout="stack" [breakpoint]="'960px'"
             [tableStyle]="{'min-width': '23rem'}">
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th>name</th>
          <th>position</th>
          <th>actions</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-item let-columns="columns">
        <tr>
          <td><span class="p-column-title">Name</span>{{ item.name }}</td>
          <td><span class="p-column-title">position</span>{{ item.position }}</td>


          <td>
            <span class="p-column-title">actions</span>
            <span class="p-buttonset">
                             <p-button
                               icon="pi pi-trash"
                               styleClass="p-button-danger"
                               (onClick)="onDeleteAuthor(item.id)"
                             ></p-button>

                          <p-button
                            icon="pi pi-pencil"
                            styleClass="p-button-warning"
                            (onClick)="onGetAUthor(item.id)"
                          ></p-button>
                          </span>

          </td>
        </tr>
      </ng-template>
    </p-table>


  </div>

  <div class="lg:col-3 xl:col-3 sm:col-12 xs:col-12 xs:mt-2">

    <form [formGroup]="form">
          <span class="p-float-label">
            <input pInputText id="name" formControlName="name"/>
            <label for="name">title</label>
          </span>
      <span class="p-float-label mt-2">
            <input pInputText id="position" formControlName="position"/>
            <label for="position">position</label>
          </span>
      <span class="p-float-label mt-2">
<span class="p-float-label">
    <textarea id="float-input" rows="5" cols="30" formControlName="description" pInputTextarea></textarea>
    <label for="float-input"></label>
</span>
          </span>
      <button *ngIf="state=='create'" [disabled]="form.invalid||isSubmitting" pButton class="mt-2" (click)="onSubmit()">
        Create Author
      </button>
      <button *ngIf="state=='update'" [disabled]="form.invalid||isSubmitting" pButton class="mt-2 p-butrton-warning"
              (click)="onUpdateAuthor()">Update Author
      </button>

    </form>

  </div>


</div>

