<div class="grid justify-content-center align-content-center">
  <div class="col-7">
    <p-card header="Sign Up Form"
            subheader="you can sign up using form below">
      <p>Don't have an account? <a routerLink="/auth/login">Sign In</a></p>

      <div class="bg-red-500 text-white">
        <p class="p-1">this website is just for demo purposes. all news are fake</p>
      </div>

      <div class="p-card-body">
        <form [formGroup]="form">


          <div class="input-group mt-2">
            <input type="text" placeholder="Username..." pInputText formControlName="username" class="input-text"/>
          </div>

          <div class="input-group mt-2">
            <input type="email" placeholder="E_Mail..." pInputText formControlName="email" class="input-text"/>
          </div>

          <div class="input-group mt-2">
            <p-password styleClass="p-password-input" placeholder="Password..." formControlName="password"></p-password>
          </div>


          <div class="input-group mt-2">
            <input type="password" placeholder="Repeat Password..." pInputText formControlName="repeatPassword"
                   class="input-text"/>
          </div>
          <button [disabled]="isSubmitting||form.invalid" (click)="onRegisterUser()" pButton label="Register"
                  class="p-button-primary mt-2" pTooltip="only for demo purpose"></button>
        </form>
      </div>
    </p-card>
  </div>
</div>
