<p-toolbar>
  <div class="p-toolbar-group-start image-container">

  </div>

  <div class="p-toolbar-group-end">
    <button
      pButton
      routerLink="/"
      routerLinkActive="router-link-active"
      class="mr-1"
    >
      Home
    </button>

    <button
   
      type="button"
      pButton
      label="Admin"
      (click)="menu.toggle($event)"
      class="mr-1"
    ></button>

    <p-tieredMenu #menu [model]="items" [popup]="true"></p-tieredMenu>
    <button
      class="mr-1"

      *ngIf="isLoggedOut$|async"
      type="button"
      pButton
      label="Log In"
      routerLink="/auth/login"
    ></button>
    <button
      *ngIf="isLoggedIn$|async"
      type="button"
      pButton
      label="Log Out"
      (click)="onLogOut()"

    ></button>


  </div>
</p-toolbar>
