<p-toolbar>
  <div class="p-toolbar-group-start">
    <button pButton icon="pi pi-plus" class="mr-2"></button>
    <button pButton icon="pi pi-print" class="mr-2"></button>
    <button pButton icon="pi pi-upload"></button>
  </div>
  <div class="p-toolbar-group-center">
    <span class="p-input-icon-left">
      <i class="pi pi-search"></i>
      <input pInputText placeholder="Search" />
    </span>
  </div>
  <div class="p-toolbar-group-end">
    <button
      pButton
      routerLink="/"
      routerLinkActive="router-link-active"
      class="mr-1"
    >
      Home
    </button>

    <button
      #btn
      type="button"
      pButton
      label="Admin"
      (click)="menu.toggle($event)"
    ></button>
    <p-tieredMenu #menu [model]="items" [popup]="true"></p-tieredMenu>
  </div>
</p-toolbar>
