<p-toolbar>

  <div class="logo  p-1 border-round">
    <h1 routerLink="/" class="cursor-pointer m-0  font-bold" style="letter-spacing: 0.1rem;font-size: 1.4rem">WHITE
      RABBIT</h1>
  </div>


  <div class="p-toolbar-group-end">
    <button
      pButton
      routerLink="/"
      routerLinkActive="router-link-active"
      class="mr-1"
    >
      Home
    </button>

    <button

      type="button"
      pButton
      label="Admin"
      (click)="menu.toggle($event)"
      class="mr-1"
      *ngIf="(isAdmin$|async)"

    ></button>

    <p-tieredMenu #menu [model]="items" [popup]="true"></p-tieredMenu>
    <button
      class="mr-1"
      *ngIf="!(isLoggedIn$|async)"
      type="button"
      pButton
      label="Sign in"
      routerLink="/auth/login"
    ></button>
    <button
      *ngIf="isLoggedIn$|async"
      type="button"
      pButton
      label="Log Out"
      (click)="onLogOut()"

    ></button>


  </div>
</p-toolbar>
