<div class="grid">
  <div [ngClass]="news.length>=4?'col-12 md:col-3 lg:col-3 xl:col-3':'col-12 md:col-6 lg:col-4 xl:col-4'"
       *ngFor="let item of news">
    <p-card header="{{item.title}}" subheader="{{item.category.title}}"
            [style]="{ height: '600px' }"

            class="cursor-pointer hover:underline"
            [routerLink]="['/news-page',item.id]">
      <ng-template pTemplate="header">
        <p-image *ngIf="item.coverImage" [src]="item.coverImage" [alt]="item.title"/>
      </ng-template>
    </p-card>
  </div>
</div>
