<div class="grid justify-content-center">
  <div class="col-9 lg:col-9 xl:col-9 sm:col-12 xs:col-12 lg:w-30rem xl:w-30rem w-full ">


    <p-table
      [paginator]="true"
      [rows]="5"
      [value]="categories$ | async"
      styleClass="p-datatable-striped shadow-3"
    >
      <ng-template pTemplate="header">
        <tr>
          <th>title</th>
          <th>actions</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-item>
        <tr>
          <td>{{ item.title }}</td>
          <td>
            <p-button
              icon="pi pi-trash"
              styleClass="p-button-danger"
              (onClick)="onDeleteCategory(item.id)"
            ></p-button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
  <div class="lg:col-3 xl:col-3 sm:col-12 xs:col-12 ">

    <form [formGroup]="form">
          <span class="p-float-label">
            <input pInputText id="title" formControlName="title"/>
            <label for="title">title</label>
          </span>
      <button [disabled]="form.invalid||isSubmitting" pButton class="mt-2" (click)="onSubmit()">Submit</button>
    </form>

  </div>
</div>

