/* You can add global styles to this file, and also import other style files */
@import "primeicons/primeicons.css";


.container {
  margin-left: auto;
  margin-right: auto;
}

/*.container {*/
/*  display: flex;*/
/*  flex-direction: column; !* Adjust for row or other layouts *!*/
/*  max-width: 800px; !* Set your desired max-width *!*/
/*  margin: 0 auto; !* Center the container horizontally *!*/
/*  padding: 1rem; !* Add some padding *!*/
/*}*/

@media only screen and (max-width: 767px) {
  .container {
    max-width: 100%;
  }
}

@media only screen and (min-width: 768px) {
  .container {
    max-width: 740px;
  }
}

@media only screen and (min-width: 992px) {
  .container {
    max-width: 980px;
  }
}

@media only screen and (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

@media only screen and (min-width: 1400px) {
  .container {
    max-width: 1400px;
  }
}


/*.p-card .p-card-title {*/
/*  color: #010141;*/

/*}*/


p-password .p-password-input {
  width: 100% !important;

}

.p-card {
  background: white !important;
  color: #00003f;
}
