<!--Search-->

<app-search-toolbar (searchedNews)="searchedNewsFn($event)"
                    (resetFilterEvent)="onResetFilterEvent($event)"></app-search-toolbar>


<ng-container *ngIf="isSearching">
  <app-news [news]="searchedNews"></app-news>
</ng-container>

<!--Live Updates && Breaking news-->

<div class="grid justify-content-start align-items-start" *ngIf="!isSearching">
  <div class="col-12  lg:col-9 xl:col-9">
    <app-breaking-news (isBreakingNews)="isBreakingExists($event)"></app-breaking-news>
  </div>
  <div class="col-12 lg:col-3 xl:col-3">
    <app-live-updates></app-live-updates>

  </div>
</div>


<ng-container *ngIf="!isSearching">

  <!--selectButton-->
  <div class="grid justify-content-start align-items-center">
    <div class="col-12 ">
      <p-selectButton (onChange)="onSelectBtn($event)"
                      [options]="categories$|async"
                      [multiple]="true"
                      optionLabel="title" optionValue="id"
      ></p-selectButton>
    </div>
  </div>

  <!--carousel-->
  <div class="grid justify-content-center align-items-start">
    <div class="col-12 lg:col-9 md:col-12">

      <!--      All News-->
      <app-news [news]="news$|async"></app-news>

    </div>

    <div class="col-12 md:col-12 lg:col-3 xl:col-3 mt-2">
      <app-most-read></app-most-read>
    </div>
  </div>


  <div class="grid justify-content-start align-items-start">
    <div class="col-12">
      <h1>Featured Section</h1>
      <app-carousel [news]="featuredNews$|async"></app-carousel>
    </div>


  </div>

  <h1 class="section-featured">Analysis</h1>
  <div class="grid justify-content-center align-items-start">
    <div class="col-12">
      <app-opinions></app-opinions>
    </div>
  </div>

</ng-container>


