<div class="footer mt-2 grid justify-content-center align-items-start">
  <div class="footer-content md:col-4 lg:col-4 xl:col-4 xs:col-12 sm:col-12">
    <span class="copyright">© 2024 WHITE RABBIT</span>
  </div>
  <div class="links md:col-4 lg:col-4 xl:col-4 xs:col-12 sm:col-12">
    <a href="#">About Us</a>
    <a href="#">Contact Us</a>
    <a href="#">Terms & Conditions</a>
  </div>
  <div class="social md:col-4 lg:col-4 xl:col-4 xs:col-12 sm:col-12">
    <a href="#">
      <i class="pi pi-facebook"></i>
    </a>
    <a href="#">
      <i class="pi pi-twitter"></i>
    </a>
  </div>
</div>
